<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>E-Commerce Admin | Home Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <a href="/users/logout">
            <button class="btn btn-danger my-2 my-sm-0">Logout</button>
          </a>
        </div>
      </nav>
    <div class="container">
        <h3 style="text-align: center;margin:10px">Data Pelanggan</h3>
        <div class="table-responsive" style="text-align: center;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Email</th>
                        <th scope="col">Dompet</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0;i < pelanggan.length ;i++){ %>
                    <% let singlePelanggan = pelanggan[i] %>
                    <tr>
                        <th scope="row"><%= singlePelanggan.id %></th>
                        <td><%= singlePelanggan.nama %></td>
                        <td><%= singlePelanggan.alamat %></td>
                        <td><%= singlePelanggan.email %></td>
                        <td><%= singlePelanggan.dompet %></td>
                        <td><a style="text-decoration:none"
                                href="/halaman/detail-pelanggan/<%= singlePelanggan.id %>"><button
                                    style="text-decoration:none" class="btn btn-primary"
                                    style="margin-right:5px">Detail</button></a>
                            <a style="text-decoration:none" href="/halaman/update-pelanggan/<%= singlePelanggan.id %>">
                                <button class="btn btn-success" style="margin-right:5px">Update</button>
                            </a>

                            <button class="btn btn-danger"
                                onclick="confirmDelete(<%= singlePelanggan.id %>)">Delete</button>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <a href="/halaman/tambah-pelanggan">
            <button class="btn btn-primary" style="margin-top: 10px;width:100%">Tambah Pelanggan Baru</button>
        </a>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function confirmDelete(id) {
            let text = "Press a button!\nEither OK or Cancel.";
            if (confirm(text) == true) {
                text = "You pressed OK! Deleting Id " + id;
                $.get(`http://localhost:3000/delete-pelanggan/${id}`, function (data, status) {
                    location.replace("http://localhost:3000/")
                });
            } else {
                text = "You canceled!";
            }
            alert(text)
        }
    </script>
</body>

</html>